body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header {
    text-align: center;
    background-color: azure;
    color: navy;
    padding: 20px;
    margin-bottom: 5px;
}

.five-day-forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#weather-icon {
    background-color: red;
}