body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header {
    text-align: center;
    background-color: azure;
    color: navy;
    padding: 20px;
    margin-bottom: 5px;
}

#forecast {
   margin: 5px;
}

#five-day-forecast{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

#five-day-forecast p {
    margin: 0 auto;
    padding: 0 auto;
}

/* #five-day-forecast .card img {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
} */

#weather-icon-img {
    align-items: center;
    background-color: red;
}

#iconDiv{
    background-color: blue;
    padding:2%;
    
}
.image-fluid{
    margin-left: 30%;
}



